@charset "UTF-8";

.br-sp{display:none;}

@media screen and (max-width:767px){
.br-sp{display:block;}
}






/* ========== */

.course-list-mdl-header-banner{background:#285f9e;text-align:center;}
.course-list-mdl-header-banner .section-base{}
.course-list-mdl-header-banner .section-frame{}
.course-list-mdl-header-banner .section-main{}
.course-list-mdl-header-banner .section-main .banner{}
.course-list-mdl-header-banner .section-main .banner a{display:block;margin:0px;padding:10px;color:#fff;font-weight:bold;line-height:150%;text-decoration:underline;}
.course-list-mdl-header-banner .section-main .banner .text1{display:inline-block;font-size:125%;text-decoration:underline;}
.course-list-mdl-header-banner .section-main .banner .text2{display:inline-block;margin:0px 10px;padding:5px 20px;background:#fff;border-radius:20px;color:#285f9e;font-size:87.5%;text-decoration:none;line-height:100%;}
.course-list-mdl-header-banner .section-main .banner a:hover{text-decoration:none;}
.course-list-mdl-header-banner .section-main .banner a:hover .text1{text-decoration:none;}
.course-list-mdl-header-banner .section-main .banner a:hover .text2{text-decoration:none;}


@media screen and (max-width:1439px){}
@media screen and (max-width:1199px){}
@media screen and (max-width:959px){
.course-list-mdl-header-banner .section-main .banner .text2{padding:5px 15px;}
}
@media screen and (max-width:767px){
.course-list-mdl-header-banner .section-main .banner a{font-size:87.5%;}
.course-list-mdl-header-banner .section-main .banner .text2{padding:3px 10px;}
}
@media screen and (max-width:639px){}
@media screen and (max-width:479px){}






/* ========== */

.course-list-mdl-signboard{background:url("../img/course-list/signboard-bg.png") no-repeat center center;background-size:cover;}
.course-list-mdl-signboard .section-base{width:1440px;margin:0px auto;}
.course-list-mdl-signboard .section-frame{padding:90px 40px;}
.course-list-mdl-signboard .section-main{display:flex;align-items:center;justify-content:space-between;}
.course-list-mdl-signboard .section-main .banner{}
.course-list-mdl-signboard .section-main .results{}

#course-list-bar-exam .course-list-mdl-signboard{
background-image:url("../img/course-list/signboard-title-bg-bar-exam.png"), url("../img/course-list/signboard-bg.png");
background-repeat:no-repeat, no-repeat;
background-position:center center, center center;
background-size:cover, cover;
}

#course-list-pre-bar-exam .course-list-mdl-signboard{
background-image:url("../img/course-list/signboard-title-bg-pre-bar-exam.png"), url("../img/course-list/signboard-bg.png");
background-repeat:no-repeat, no-repeat;
background-position:center center, center center;
background-size:cover, cover;
}

#course-list-law-school .course-list-mdl-signboard{
background-image:url("../img/course-list/signboard-title-bg-law-school.png"), url("../img/course-list/signboard-bg.png");
background-repeat:no-repeat, no-repeat;
background-position:center center, center center;
background-size:cover, cover;
}


@media screen and (max-width:1439px){
.course-list-mdl-signboard .section-base{width:auto;}
.course-list-mdl-signboard .section-frame{padding:60px 40px;}
.course-list-mdl-signboard .section-main .banner{width:45%;}
.course-list-mdl-signboard .section-main .banner img{width:100%;height:auto;}
.course-list-mdl-signboard .section-main .results{width:50%;}
.course-list-mdl-signboard .section-main .results img{width:100%;height:auto;margin:0px auto;}
}
@media screen and (max-width:1199px){}
@media screen and (max-width:959px){
.course-list-mdl-signboard .section-main{display:block;}
.course-list-mdl-signboard .section-main .banner{width:80%;margin:0px auto;}
.course-list-mdl-signboard .section-main .results{width:80%;margin:30px auto 0px auto;}
#course-list-bar-exam .course-list-mdl-signboard{background:#204168;}
#course-list-pre-bar-exam .course-list-mdl-signboard{background:#344286;}
#course-list-law-school .course-list-mdl-signboard{background:#395248;}
}
@media screen and (max-width:767px){
.course-list-mdl-signboard .section-frame{padding:60px 20px;}
}
@media screen and (max-width:639px){
.course-list-mdl-signboard .section-frame{padding:30px 20px;}
.course-list-mdl-signboard .section-main .banner{width:100%;}
.course-list-mdl-signboard .section-main .results{width:100%;}
}
@media screen and (max-width:479px){}






/* ========== */

.course-list-mdl-campaign{background:#c70906;}
.course-list-mdl-campaign .section-base{}
.course-list-mdl-campaign .section-frame{padding:10px;}
.course-list-mdl-campaign .section-main{text-align:center;}
.course-list-mdl-campaign .section-main .banner{}


@media screen and (max-width:1439px){}
@media screen and (max-width:1199px){}
@media screen and (max-width:959px){
.course-list-mdl-campaign .section-main .banner img{width:300px;height:auto;margin:0px auto;}
}
@media screen and (max-width:767px){}
@media screen and (max-width:639px){
.course-list-mdl-campaign .section-main .banner img{width:60%;height:auto;}
}
@media screen and (max-width:479px){
.course-list-mdl-campaign .section-main .banner img{width:70%;height:auto;}
}





/* ========== */

.course-list-mdl-campaign-release10off{background:#fff800;}
.course-list-mdl-campaign-release10off .section-base{width:1200px;margin:0px auto;}
.course-list-mdl-campaign-release10off .section-frame{padding:10px 20px;}
.course-list-mdl-campaign-release10off .section-main{text-align:center;}
.course-list-mdl-campaign-release10off .section-main .banner{}
.course-list-mdl-campaign-release10off .section-main .banner img{max-width:100%;}
.course-list-mdl-campaign-release10off .section-main .banner-pc{display:block;}
.course-list-mdl-campaign-release10off .section-main .banner-sp{display:none;}

@media screen and (max-width:1439px){}
@media screen and (max-width:1199px){
.course-list-mdl-campaign-release10off .section-base{width:auto;}
}
@media screen and (max-width:959px){
}
@media screen and (max-width:767px){
.course-list-mdl-campaign-release10off .section-main .banner-pc{display:none;}
.course-list-mdl-campaign-release10off .section-main .banner-sp{display:block;}
}
@media screen and (max-width:639px){}
@media screen and (max-width:479px){}





/* ========== */

.course-list-mdl-campaign-10off{background:#fff800;}
.course-list-mdl-campaign-10off .section-base{width:1200px;margin:0px auto;}
.course-list-mdl-campaign-10off .section-frame{padding:10px 20px;}
.course-list-mdl-campaign-10off .section-main{text-align:center;}
.course-list-mdl-campaign-10off .section-main .banner{}
.course-list-mdl-campaign-10off .section-main .banner img{max-width:100%;}

@media screen and (max-width:1439px){}
@media screen and (max-width:1199px){
.course-list-mdl-campaign-10off .section-base{width:auto;}
}
@media screen and (max-width:959px){}
@media screen and (max-width:767px){}
@media screen and (max-width:639px){}
@media screen and (max-width:479px){}






/* ========== */

.course-list-mdl-release{background:#eef1f4;}
.course-list-mdl-release a{display:block;}
.course-list-mdl-release .banner{width:640px;margin:0px auto;text-align:center;}
.course-list-mdl-release .banner img{width:100%;height:auto;}
.course-list-mdl-release .banner-pc{display:block;}
.course-list-mdl-release .banner-sp{display:none;}


@media screen and (max-width:1439px){}
@media screen and (max-width:1199px){}
@media screen and (max-width:959px){}
@media screen and (max-width:767px){
.course-list-mdl-release .banner{width:auto;}
.course-list-mdl-release .banner-pc{display:none;}
.course-list-mdl-release .banner-sp{display:block;}
}
@media screen and (max-width:639px){}
@media screen and (max-width:479px){}






/* ========== */

.course-list-mdl-doc{}
.course-list-mdl-doc .section-base{}
.course-list-mdl-doc .section-frame{padding:60px 20px;}
.course-list-mdl-doc .section-main{text-align:center;}
.course-list-mdl-doc .section-main .banner{}


@media screen and (max-width:1439px){}
@media screen and (max-width:1199px){}
@media screen and (max-width:959px){
.course-list-mdl-doc .section-main .banner img{width:70%;height:auto;margin:0px auto;}
}
@media screen and (max-width:767px){
.course-list-mdl-doc .section-main .banner img{width:80%;height:auto;}
}
@media screen and (max-width:639px){
.course-list-mdl-doc .section-frame{padding:30px 20px 60px 20px;}
.course-list-mdl-doc .section-main .banner img{width:100%;height:auto;}
}
@media screen and (max-width:479px){}





/* ========== */

.course-list-mdl-list-pack{}
.course-list-mdl-list-pack .section-base{width:1440px;margin:0px auto 90px auto;}
.course-list-mdl-list-pack .section-frame{padding:0px 40px;}
.course-list-mdl-list-pack .section-header{display:flex;align-items:center;margin-bottom:15px;padding-bottom:10px;border-bottom:4px solid #4652A1;}
.course-list-mdl-list-pack .section-header .label{padding-right:20px;color:#4652A1;font-size:200%;font-weight:500;line-height:150%;}
.course-list-mdl-list-pack .section-header .label-sub{line-height:150%;}
.course-list-mdl-list-pack .section-main{}
.course-list-mdl-list-pack .section-main .item{}
.course-list-mdl-list-pack .section-main .item-base{padding:20px;}
.course-list-mdl-list-pack .section-main .item-frame{display:flex;align-items:flex-start;}
.course-list-mdl-list-pack .section-main .item-header{width:45%;padding-right:20px;}
.course-list-mdl-list-pack .section-main .item-header .thumb{}
.course-list-mdl-list-pack .section-main .item-header .thumb img{width:100%;height:auto;box-shadow:1px 1px 6px 1px rgba(0, 0, 0, 0.2);}
.course-list-mdl-list-pack .section-main .item-main{width:55%;padding-left:20px;}
.course-list-mdl-list-pack .section-main .item-main .info{margin-bottom:15px;line-height:150%;text-align:justify;}
.course-list-mdl-list-pack .section-main .item-main .check{margin-bottom:15px;}
.course-list-mdl-list-pack .section-main .item-main .check ul{}
.course-list-mdl-list-pack .section-main .item-main .check li{position:relative;margin-left:25px;padding:3px 0px;font-weight:500;line-height:130%;}
.course-list-mdl-list-pack .section-main .item-main .check li span{color:#c00;}
.course-list-mdl-list-pack .section-main .item-main .check li:before{position:absolute;top:7px;left:-22px;content:"";width:12px;height:6px;border-left:3px solid #4652A1;border-bottom:3px solid #4652A1;transform: rotate(-45deg);}
.course-list-mdl-list-pack .section-main .item-main .status{margin-bottom:15px;font-weight:500;line-height:150%;padding:5px 10px;border:2px solid #c00;text-align:center;}
.course-list-mdl-list-pack .section-main .item-main .status span{color:#c00;font-size:125%;margin-right:15px;}
.course-list-mdl-list-pack .section-main .item-main .status br{display:none;}

.course-list-mdl-list-pack .section-main .item-main .fee-type{display:flex;align-items:flex-start;justify-content:flex-start;flex-wrap:wrap;}
.course-list-mdl-list-pack .section-main .item-main .fee{margin-bottom:15px;margin-right:10px;text-align:left;}
.course-list-mdl-list-pack .section-main .item-main .fee-frame{}
.course-list-mdl-list-pack .section-main .item-main .fee .label{margin-bottom:5px;font-size:87.5%;}
.course-list-mdl-list-pack .section-main .item-main .fee .fee-base{margin-bottom:10px;}
.course-list-mdl-list-pack .section-main .item-main .fee .fee-base dl{display:flex;align-items:center;}
.course-list-mdl-list-pack .section-main .item-main .fee .fee-base dt{padding:5px;border:1px solid #ccc;color:#ccc;font-size:87.5%;}
.course-list-mdl-list-pack .section-main .item-main .fee .fee-base dd{padding-left:10px;color:#ccc;}
.course-list-mdl-list-pack .section-main .item-main .fee .discount{display:inline-block;margin-right:10px;vertical-align:middle;text-align:center;}
.course-list-mdl-list-pack .section-main .item-main .fee .discount span{display:inline-block;padding:5px;background:#B30000;color:#fff;font-size:87.5%;font-weight:500;line-height:100%;}
.course-list-mdl-list-pack .section-main .item-main .fee .amount{color:#4652A1;font-weight:500;line-height:100%;}
.course-list-mdl-list-pack .section-main .item-main .fee .amount dl{display:flex;justify-content:flex-end;align-items:baseline;}
.course-list-mdl-list-pack .section-main .item-main .fee .amount dt{font-size:87.5%;}
.course-list-mdl-list-pack .section-main .item-main .fee .amount dd{padding-left:10px;font-size:125%;}
.course-list-mdl-list-pack .section-main .item-main .fee .amount span{font-size:200%;}
.course-list-mdl-list-pack .section-main .item-main .fee .amount-discount{display:inline-block;vertical-align:middle;color:#B30000;font-size:125%;font-weight:500;line-height:100%;}
.course-list-mdl-list-pack .section-main .item-main .fee .amount-discount span{font-size:200%;}

.course-list-mdl-list-pack .section-main .item-main .btn{text-align:right;}
.course-list-mdl-list-pack .section-main .item-main .btn a{display:inline-block;padding:15px 40px;background:#F90;color:#fff;border:2px solid #F90;border-radius:10px;font-size:125%;font-weight:700;text-decoration:none;box-shadow:1px 1px 6px 1px rgba(0, 0, 0, 0.2);}
.course-list-mdl-list-pack .section-main .item-main .btn a:hover{background:#FFA700;}


@media screen and (max-width:1439px){
.course-list-mdl-list-pack .section-base{width:auto;}
.course-list-mdl-list-pack .section-main .item-main .status span{margin-right:0px;}
.course-list-mdl-list-pack .section-main .item-main .status br{display:block;}
}
@media screen and (max-width:1199px){
.course-list-mdl-list-pack .section-header .label{font-size:150%;}
.course-list-mdl-list-pack .section-main .item-main .btn{font-size:100%;}
}
@media screen and (max-width:959px){
.course-list-mdl-list-pack .section-header{display:block;margin-bottom:30px;}
.course-list-mdl-list-pack .section-header .label{padding-right:0px;}
.course-list-mdl-list-pack .section-header .label-sub{margin-top:5px;}
.course-list-mdl-list-pack .section-main .item{margin-bottom:60px;}
.course-list-mdl-list-pack .section-main .item-base{padding:0px;}
.course-list-mdl-list-pack .section-main .item-frame{display:block;}
.course-list-mdl-list-pack .section-main .item-header{width:100%;margin-bottom:15px;padding-right:0px;}
.course-list-mdl-list-pack .section-main .item-main{width:100%;padding-left:0px;}
.course-list-mdl-list-pack .section-main .item-main .status span{margin-right:15px;}
.course-list-mdl-list-pack .section-main .item-main .status br{display:none;}
.course-list-mdl-list-pack .section-main .item-main .btn a{padding:10px 30px;font-size:100%;}
}
@media screen and (max-width:767px){
.course-list-mdl-list-pack .section-frame{padding:0px 20px;}
.course-list-mdl-list-pack .section-main .item-main .info{font-size:87.5%;}
.course-list-mdl-list-pack .section-main .item-main .check li{font-size:87.5%;}
.course-list-mdl-list-pack .section-main .item-main .check li:before{top:5px;}
.course-list-mdl-list-pack .section-main .item-main .status{font-size:87.5%;}
.course-list-mdl-list-pack .section-main .item-main .status span{margin-right:0px;}
.course-list-mdl-list-pack .section-main .item-main .status br{display:block;}
.course-list-mdl-list-pack .section-main .item-main .fee .amount dd{font-size:100%;}

.course-list-mdl-list-pack .section-main .item-main .fee .label{display:inline-block;vertical-align:bottom;margin-right:15px;}
.course-list-mdl-list-pack .section-main .item-main .fee .amount{display:inline-block;vertical-align:bottom;}
}
@media screen and (max-width:639px){}
@media screen and (max-width:479px){}



/* ========== */

.course-list-mdl-list-hoka{}
.course-list-mdl-list-hoka .section-base{width:1440px;margin:0px auto 90px auto;}
.course-list-mdl-list-hoka .section-frame{padding:0px 40px;}
.course-list-mdl-list-hoka .section-header{display:flex;align-items:center;margin-bottom:15px;padding-bottom:10px;border-bottom:4px solid #4652A1;}
.course-list-mdl-list-hoka .section-header .label{padding-right:20px;color:#4652A1;font-size:200%;font-weight:500;line-height:150%;}
.course-list-mdl-list-hoka .section-header .label-sub{line-height:150%;}
.course-list-mdl-list-hoka .section-main{}
.course-list-mdl-list-hoka .section-main .item{}
.course-list-mdl-list-hoka .section-main .item-base{padding:20px;}
.course-list-mdl-list-hoka .section-main .item-frame{display:flex;align-items:flex-start;}
.course-list-mdl-list-hoka .section-main .item-header{width:45%;padding-right:20px;}
.course-list-mdl-list-hoka .section-main .item-header .thumb{}
.course-list-mdl-list-hoka .section-main .item-header .thumb img{width:100%;height:auto;box-shadow:1px 1px 6px 1px rgba(0, 0, 0, 0.2);}
.course-list-mdl-list-hoka .section-main .item-main{width:55%;padding-left:20px;}
.course-list-mdl-list-hoka .section-main .item-main .info{margin-bottom:15px;line-height:150%;text-align:justify;}
.course-list-mdl-list-hoka .section-main .item-main .check{margin-bottom:15px;}
.course-list-mdl-list-hoka .section-main .item-main .check ul{}
.course-list-mdl-list-hoka .section-main .item-main .check li{position:relative;margin-left:25px;padding:3px 0px;font-weight:500;line-height:130%;}
.course-list-mdl-list-hoka .section-main .item-main .check li span{color:#c00;}
.course-list-mdl-list-hoka .section-main .item-main .check li:before{position:absolute;top:7px;left:-22px;content:"";width:12px;height:6px;border-left:3px solid #4652A1;border-bottom:3px solid #4652A1;transform: rotate(-45deg);}
.course-list-mdl-list-hoka .section-main .item-main .status{margin-bottom:15px;font-weight:500;line-height:150%;padding:5px 10px;border:2px solid #c00;text-align:center;}
.course-list-mdl-list-hoka .section-main .item-main .status span{color:#c00;font-size:125%;margin-right:15px;}
.course-list-mdl-list-hoka .section-main .item-main .status br{display:none;}

.course-list-mdl-list-hoka .section-main .item-main .fee-info{text-align:right;}
.course-list-mdl-list-hoka .section-main .item-main .fee{display:inline-block;margin-bottom:15px;text-align:left;}
.course-list-mdl-list-hoka .section-main .item-main .fee-frame{}
.course-list-mdl-list-hoka .section-main .item-main .fee .label{margin-bottom:5px;font-size:87.5%;}
.course-list-mdl-list-hoka .section-main .item-main .fee .fee-base{margin-bottom:10px;}
.course-list-mdl-list-hoka .section-main .item-main .fee .fee-base dl{display:flex;align-items:center;}
.course-list-mdl-list-hoka .section-main .item-main .fee .fee-base dt{padding:5px;border:1px solid #ccc;color:#ccc;font-size:87.5%;}
.course-list-mdl-list-hoka .section-main .item-main .fee .fee-base dd{padding-left:10px;color:#ccc;}
.course-list-mdl-list-hoka .section-main .item-main .fee .discount{display:inline-block;margin-right:10px;vertical-align:middle;}
.course-list-mdl-list-hoka .section-main .item-main .fee .discount span{display:inline-block;padding:5px;background:#B30000;color:#fff;font-size:87.5%;font-weight:500;line-height:100%;}
.course-list-mdl-list-hoka .section-main .item-main .fee .amount{color:#4652A1;font-weight:500;line-height:100%;}
.course-list-mdl-list-hoka .section-main .item-main .fee .amount dl{display:flex;justify-content:flex-end;align-items:baseline;}
.course-list-mdl-list-hoka .section-main .item-main .fee .amount dt{font-size:87.5%;}
.course-list-mdl-list-hoka .section-main .item-main .fee .amount dd{padding-left:10px;font-size:125%;}
.course-list-mdl-list-hoka .section-main .item-main .fee .amount span{font-size:200%;}
.course-list-mdl-list-hoka .section-main .item-main .fee .amount-discount{display:inline-block;vertical-align:middle;color:#B30000;font-size:125%;font-weight:500;line-height:100%;}
.course-list-mdl-list-hoka .section-main .item-main .fee .amount-discount span{font-size:200%;}

.course-list-mdl-list-hoka .section-main .item-main .btn{text-align:right;}
.course-list-mdl-list-hoka .section-main .item-main .btn a{display:inline-block;padding:15px 40px;background:#F90;color:#fff;border:2px solid #F90;border-radius:10px;font-size:125%;font-weight:700;text-decoration:none;box-shadow:1px 1px 6px 1px rgba(0, 0, 0, 0.2);}
.course-list-mdl-list-hoka .section-main .item-main .btn a:hover{background:#FFA700;}


@media screen and (max-width:1439px){
.course-list-mdl-list-hoka .section-base{width:auto;}
.course-list-mdl-list-hoka .section-main .item-main .status span{margin-right:0px;}
.course-list-mdl-list-hoka .section-main .item-main .status br{display:block;}
}
@media screen and (max-width:1199px){
.course-list-mdl-list-hoka .section-header .label{font-size:150%;}
.course-list-mdl-list-hoka .section-main .item-main .btn{font-size:100%;}
}
@media screen and (max-width:959px){
.course-list-mdl-list-hoka .section-header{display:block;margin-bottom:30px;}
.course-list-mdl-list-hoka .section-header .label{padding-right:0px;}
.course-list-mdl-list-hoka .section-header .label-sub{margin-top:5px;}
.course-list-mdl-list-hoka .section-main .item{margin-bottom:60px;}
.course-list-mdl-list-hoka .section-main .item-base{padding:0px;}
.course-list-mdl-list-hoka .section-main .item-frame{display:block;}
.course-list-mdl-list-hoka .section-main .item-header{width:100%;margin-bottom:15px;padding-right:0px;}
.course-list-mdl-list-hoka .section-main .item-main{width:100%;padding-left:0px;}
.course-list-mdl-list-hoka .section-main .item-main .status span{margin-right:15px;}
.course-list-mdl-list-hoka .section-main .item-main .status br{display:none;}
.course-list-mdl-list-hoka .section-main .item-main .btn a{padding:10px 30px;font-size:100%;}
}
@media screen and (max-width:767px){
.course-list-mdl-list-hoka .section-frame{padding:0px 20px;}
.course-list-mdl-list-hoka .section-main .item-main .info{font-size:87.5%;}
.course-list-mdl-list-hoka .section-main .item-main .check li{font-size:87.5%;}
.course-list-mdl-list-hoka .section-main .item-main .check li:before{top:5px;}
.course-list-mdl-list-hoka .section-main .item-main .status{font-size:87.5%;}
.course-list-mdl-list-hoka .section-main .item-main .status span{margin-right:0px;}
.course-list-mdl-list-hoka .section-main .item-main .status br{display:block;}
.course-list-mdl-list-hoka .section-main .item-main .fee .amount dd{font-size:100%;}
}
@media screen and (max-width:639px){}
@media screen and (max-width:479px){}



/* ========== */

.course-list-mdl-list01{}
.course-list-mdl-list01 .section-base{width:1440px;margin:0px auto 90px auto;}
.course-list-mdl-list01 .section-frame{padding:0px 40px;}
.course-list-mdl-list01 .section-header{display:flex;align-items:center;margin-bottom:15px;padding-bottom:10px;border-bottom:4px solid #4652A1;}
.course-list-mdl-list01 .section-header .label{padding-right:20px;color:#4652A1;font-size:200%;font-weight:500;line-height:150%;}
.course-list-mdl-list01 .section-header .label-sub{line-height:150%;}
.course-list-mdl-list01 .section-main{}
.course-list-mdl-list01 .section-main .item{}
.course-list-mdl-list01 .section-main .item-base{padding:20px;}
.course-list-mdl-list01 .section-main .item-frame{display:flex;align-items:flex-start;}
.course-list-mdl-list01 .section-main .item-header{width:45%;padding-right:20px;}
.course-list-mdl-list01 .section-main .item-header .thumb{}
.course-list-mdl-list01 .section-main .item-header .thumb img{width:100%;height:auto;box-shadow:1px 1px 6px 1px rgba(0, 0, 0, 0.2);}
.course-list-mdl-list01 .section-main .item-main{width:55%;padding-left:20px;}
.course-list-mdl-list01 .section-main .item-main .info{margin-bottom:15px;line-height:150%;text-align:justify;}
.course-list-mdl-list01 .section-main .item-main .check{margin-bottom:15px;}
.course-list-mdl-list01 .section-main .item-main .check ul{}
.course-list-mdl-list01 .section-main .item-main .check li{position:relative;margin-left:25px;padding:3px 0px;font-weight:500;line-height:130%;}
.course-list-mdl-list01 .section-main .item-main .check li span{color:#c00;}
.course-list-mdl-list01 .section-main .item-main .check li:before{position:absolute;top:7px;left:-22px;content:"";width:12px;height:6px;border-left:3px solid #4652A1;border-bottom:3px solid #4652A1;transform: rotate(-45deg);}
.course-list-mdl-list01 .section-main .item-main .status{margin-bottom:15px;padding:5px 10px;border:2px solid #c00;font-weight:500;line-height:150%;text-align:center;}
.course-list-mdl-list01 .section-main .item-main .status span{color:#c00;font-size:125%;margin-right:15px;}
.course-list-mdl-list01 .section-main .item-main .status br{display:none;}

.course-list-mdl-list01 .section-main .item-main .fee-info{text-align:right;}
.course-list-mdl-list01 .section-main .item-main .fee{display:inline-block;margin-bottom:15px;text-align:left;}
.course-list-mdl-list01 .section-main .item-main .fee-frame{}
.course-list-mdl-list01 .section-main .item-main .fee .label{margin-bottom:5px;font-size:87.5%;}
.course-list-mdl-list01 .section-main .item-main .fee .fee-base{margin-bottom:10px;}
.course-list-mdl-list01 .section-main .item-main .fee .fee-base dl{display:flex;align-items:center;}
.course-list-mdl-list01 .section-main .item-main .fee .fee-base dt{padding:5px;border:1px solid #ccc;color:#ccc;font-size:87.5%;}
.course-list-mdl-list01 .section-main .item-main .fee .fee-base dd{padding-left:10px;color:#ccc;}
.course-list-mdl-list01 .section-main .item-main .fee .discount{display:inline-block;margin-right:10px;vertical-align:middle;}
.course-list-mdl-list01 .section-main .item-main .fee .discount span{display:inline-block;padding:5px;background:#B30000;color:#fff;font-size:87.5%;font-weight:500;line-height:100%;}
.course-list-mdl-list01 .section-main .item-main .fee .amount{color:#4652A1;font-weight:500;line-height:100%;}
.course-list-mdl-list01 .section-main .item-main .fee .amount dl{display:flex;justify-content:flex-end;align-items:baseline;}
.course-list-mdl-list01 .section-main .item-main .fee .amount dt{font-size:87.5%;}
.course-list-mdl-list01 .section-main .item-main .fee .amount dd{padding-left:10px;font-size:125%;}
.course-list-mdl-list01 .section-main .item-main .fee .amount span{font-size:200%;}
.course-list-mdl-list01 .section-main .item-main .fee .amount-discount{display:inline-block;vertical-align:middle;color:#B30000;font-size:125%;font-weight:500;line-height:100%;}
.course-list-mdl-list01 .section-main .item-main .fee .amount-discount span{font-size:200%;}

.course-list-mdl-list01 .section-main .item-main .btn{text-align:right;}
.course-list-mdl-list01 .section-main .item-main .btn a{display:inline-block;padding:15px 40px;background:#F90;color:#fff;border:2px solid #F90;border-radius:10px;font-size:125%;font-weight:700;text-decoration:none;box-shadow:1px 1px 6px 1px rgba(0, 0, 0, 0.2);}
.course-list-mdl-list01 .section-main .item-main .btn a:hover{background:#FFA700;}


@media screen and (max-width:1439px){
.course-list-mdl-list01 .section-base{width:auto;}
.course-list-mdl-list01 .section-main .item-main .status span{margin-right:0px;}
.course-list-mdl-list01 .section-main .item-main .status br{display:block;}
}
@media screen and (max-width:1199px){
.course-list-mdl-list01 .section-header .label{font-size:150%;}
.course-list-mdl-list01 .section-main .item-main .btn{font-size:100%;}
}
@media screen and (max-width:959px){
.course-list-mdl-list01 .section-header{display:block;margin-bottom:30px;}
.course-list-mdl-list01 .section-header .label{padding-right:0px;}
.course-list-mdl-list01 .section-header .label-sub{margin-top:5px;}
.course-list-mdl-list01 .section-main .item{margin-bottom:60px;}
.course-list-mdl-list01 .section-main .item-base{padding:0px;}
.course-list-mdl-list01 .section-main .item-frame{display:block;}
.course-list-mdl-list01 .section-main .item-header{width:100%;margin-bottom:15px;padding-right:0px;}
.course-list-mdl-list01 .section-main .item-main{width:100%;padding-left:0px;}
.course-list-mdl-list01 .section-main .item-main .status span{margin-right:15px;}
.course-list-mdl-list01 .section-main .item-main .status br{display:none;}
.course-list-mdl-list01 .section-main .item-main .btn a{padding:10px 30px;font-size:100%;}
}
@media screen and (max-width:767px){
.course-list-mdl-list01 .section-frame{padding:0px 20px;}
.course-list-mdl-list01 .section-main .item-main .info{font-size:87.5%;}
.course-list-mdl-list01 .section-main .item-main .check li{font-size:87.5%;}
.course-list-mdl-list01 .section-main .item-main .check li:before{top:5px;}
.course-list-mdl-list01 .section-main .item-main .status{font-size:87.5%;}
.course-list-mdl-list01 .section-main .item-main .status span{margin-right:0px;}
.course-list-mdl-list01 .section-main .item-main .status br{display:block;}
.course-list-mdl-list01 .section-main .item-main .fee .amount dd{font-size:100%;}
}
@media screen and (max-width:639px){}
@media screen and (max-width:479px){}



/* ========== */

.course-list-mdl-list02{}
.course-list-mdl-list02 .section-base{width:1440px;margin:0px auto 90px auto;}
.course-list-mdl-list02 .section-frame{padding:0px 40px;}
.course-list-mdl-list02 .section-header{display:flex;align-items:center;margin-bottom:30px;padding-bottom:10px;border-bottom:4px solid #4652A1;}
.course-list-mdl-list02 .section-header .label{padding-right:20px;color:#4652A1;font-size:200%;font-weight:500;line-height:150%;}
.course-list-mdl-list02 .section-header .label-sub{line-height:150%;}
.course-list-mdl-list02 .section-main{}

.course-list-mdl-list02 .section-main .part{}
.course-list-mdl-list02 .section-main .part-frame{}
.course-list-mdl-list02 .section-main .part-header{margin-bottom:15px;}
.course-list-mdl-list02 .section-main .part-header .label{padding-bottom:10px;border-bottom:2px solid #ccc;font-size:125%;font-weight:500;}
.course-list-mdl-list02 .section-main .part-main{display:flex;align-items:flex-start;flex-wrap:wrap;margin-bottom:30px;}

.course-list-mdl-list02 .section-main .item{width:50%;}
.course-list-mdl-list02 .section-main .item a{color:#333;}
.course-list-mdl-list02 .section-main .item-base{padding:20px;}
.course-list-mdl-list02 .section-main .item-frame{}
.course-list-mdl-list02 .section-main .item-header{margin-bottom:15px;}
.course-list-mdl-list02 .section-main .item-header .thumb{}
.course-list-mdl-list02 .section-main .item-header .thumb img{width:100%;height:auto;box-shadow:1px 1px 6px 1px rgba(0, 0, 0, 0.2);}
.course-list-mdl-list02 .section-main .item-header .status{margin-top:10px;padding:5px 10px;border:2px solid #c00;font-weight:500;text-align:center;}
.course-list-mdl-list02 .section-main .item-header .status span{color:#c00;}
.course-list-mdl-list02 .section-main .item-main{}
.course-list-mdl-list02 .section-main .item-main .info{line-height:150%;text-align:justify;}
.course-list-mdl-list02 .section-main .item-main .check{margin-top:15px;}
.course-list-mdl-list02 .section-main .item-main .check ul{}
.course-list-mdl-list02 .section-main .item-main .check li{position:relative;margin-left:25px;padding:3px 0px;font-weight:500;line-height:130%;}
.course-list-mdl-list02 .section-main .item-main .check li:before{position:absolute;top:7px;left:-22px;content:"";width:12px;height:6px;border-left:3px solid #4652A1;border-bottom:3px solid #4652A1;transform: rotate(-45deg);}
.course-list-mdl-list02 .section-main .item-main .btn{text-align:right;}
.course-list-mdl-list02 .section-main .item-main .btn a{display:inline-block;margin-top:15px;padding:15px 40px;background:#F90;color:#fff;border:2px solid #F90;border-radius:10px;font-size:125%;font-weight:700;text-decoration:none;box-shadow:1px 1px 6px 1px rgba(0, 0, 0, 0.2);}
.course-list-mdl-list02 .section-main .item-main .btn a:hover{background:#FFA700;}

.course-list-mdl-list02 .section-sub{margin-top:30px;}
.course-list-mdl-list02 .section-sub .item{}
.course-list-mdl-list02 .section-sub .item-base{}
.course-list-mdl-list02 .section-sub .item-frame{padding:30px 20px;background:#FAFBFF;border:1px solid #ccc;border-radius:10px;}
.course-list-mdl-list02 .section-sub .item-header{margin-bottom:30px;text-align:center;}
.course-list-mdl-list02 .section-sub .item-header .ads{color:#4652A1;font-size:200%;font-weight:500;line-height:150%;}
.course-list-mdl-list02 .section-sub .item-header .status{display:inline-block;margin-top:15px;padding:5px 10px;border:2px solid #c00;font-weight:500;line-height:150%;text-align:center;}
.course-list-mdl-list02 .section-sub .item-header .status span{color:#c00;font-size:125%;}
.course-list-mdl-list02 .section-sub .item-main{display:flex;align-items:flex-start;justify-content:center;flex-wrap:wrap;}
.course-list-mdl-list02 .section-sub .item-main::after{display:block;content:"";clear:both;}
.course-list-mdl-list02 .section-sub .item-main .part{}
.course-list-mdl-list02 .section-sub .item-main .part:not(:last-child){margin-bottom:30px;}
.course-list-mdl-list02 .section-sub .item-main .part-frame{padding:0px 20px;}
.course-list-mdl-list02 .section-sub .item-main .part-header{padding-bottom:10px;border-bottom:2px solid #4652A1;text-align:center;}
.course-list-mdl-list02 .section-sub .item-main .part-header .label{font-weight:500;}
.course-list-mdl-list02 .section-sub .item-main .part-main{}
.course-list-mdl-list02 .section-sub .item-main .part-main ul{display:flex;align-items:flex-start;justify-content:center;flex-wrap:wrap;}
.course-list-mdl-list02 .section-sub .item-main .part-main li{}
.course-list-mdl-list02 .section-sub .item-main .part-main a{text-decoration:none;}
.course-list-mdl-list02 .section-sub .item-main .part-main .frame{padding:20px;}
.course-list-mdl-list02 .section-sub .item-main .part-main .label{margin-bottom:15px;padding-bottom:10px;border-bottom:2px solid #ccc;font-size:125%;font-weight:500;}
.course-list-mdl-list02 .section-sub .item-main .part-main .thumb{margin-bottom:15px;}
.course-list-mdl-list02 .section-sub .item-main .part-main .thumb img{width:100%;height:auto;}
.course-list-mdl-list02 .section-sub .item-main .part-main .btn{display:block;width:180px;margin:0px auto;padding:15px 20px;background:#F90;color:#fff;border:2px solid #F90;border-radius:10px;font-weight:500;line-height:100%;box-shadow:1px 1px 6px 1px rgba(0, 0, 0, 0.2);text-align:center;}
.course-list-mdl-list02 .section-sub .item-main .part-main .btn:hover{background:#FFA700;}
.course-list-mdl-list02 .section-sub .item-main .part-footer{margin:15px 0px 30px 0px;text-align:center;}
.course-list-mdl-list02 .section-sub .item-main .part-footer .btn{display:inline-block;min-width:240px;margin:0px auto;border:3px solid #4652A1;border-radius:10px;}
.course-list-mdl-list02 .section-sub .item-main .part-footer .btn a{display:inline-block;text-decoration:none;}
.course-list-mdl-list02 .section-sub .item-main .part-footer .btn-label{display:inline-block;padding:20px;font-weight:bold;line-height:150%;}
.course-list-mdl-list02 .section-sub .item-main .part-footer .btn-label span{font-size:125%;}

.course-list-mdl-list02 .section-sub .item-main .part-type1{}
.course-list-mdl-list02 .section-sub .item-main .part-type1 li{width:25%;}
.course-list-mdl-list02 .section-sub .item-main .part-type2{width:50%;}
.course-list-mdl-list02 .section-sub .item-main .part-type2 li{width:50%;}
.course-list-mdl-list02 .section-sub .item-main .part-type3{width:33.33%;}
.course-list-mdl-list02 .section-sub .item-main .part-type3 li{width:100%;}
.course-list-mdl-list02 .section-sub .item-main .part-type4{width:25%;}
.course-list-mdl-list02 .section-sub .item-main .part-type4 li{width:100%;}


@media screen and (max-width:1439px){
.course-list-mdl-list02 .section-base{width:auto;}
.course-list-mdl-list02 .section-sub .item-main .part-type1{}
.course-list-mdl-list02 .section-sub .item-main .part-type1 li{width:50%;}
.course-list-mdl-list02 .section-sub .item-main .part-type2 li{width:100%;}
.course-list-mdl-list02 .section-sub .item-main .part-type3{width:50%;}
.course-list-mdl-list02 .section-sub .item-main .part-type4{width:50%;}
}
@media screen and (max-width:1199px){
.course-list-mdl-list02 .section-header .label{font-size:150%;}
.course-list-mdl-list02 .section-main .item-main .btn{font-size:100%;}
.course-list-mdl-list02 .section-sub .item-header .ads{font-size:150%;}
}
@media screen and (max-width:959px){
.course-list-mdl-list02 .section-header{display:block;margin-bottom:30px;}
.course-list-mdl-list02 .section-header .label{padding-right:0px;}
.course-list-mdl-list02 .section-header .label-sub{margin-top:5px;}
.course-list-mdl-list02 .section-main .item{width:100%;}
.course-list-mdl-list02 .section-main .item{margin-bottom:60px;}
.course-list-mdl-list02 .section-main .item-base{padding:0px;}
.course-list-mdl-list02 .section-main .item-main .btn a{padding:10px 30px;font-size:100%;}
.course-list-mdl-list02 .section-sub .item-main .part-type1{}
.course-list-mdl-list02 .section-sub .item-main .part-type1 li{width:100%;}
.course-list-mdl-list02 .section-sub .item-main .part-type2{float:none;width:100%;}
.course-list-mdl-list02 .section-sub .item-main .part-type2 li{width:100%;}
.course-list-mdl-list02 .section-sub .item-main .part-type3{width:100%;}
.course-list-mdl-list02 .section-sub .item-main .part-type4{width:100%;}
}
@media screen and (max-width:767px){
.course-list-mdl-list02 .section-frame{padding:0px 20px;}
.course-list-mdl-list02 .section-main .item-header .status{font-size:87.5%;}
.course-list-mdl-list02 .section-main .item-main .info{font-size:87.5%;}
.course-list-mdl-list02 .section-main .item-main .check li{font-size:87.5%;}
.course-list-mdl-list02 .section-main .item-main .check li:before{top:5px;}

.course-list-mdl-list02 .section-sub .item-frame{padding:20px 10px;}
.course-list-mdl-list02 .section-sub .item-header .status{padding:5px;font-size:87.5%;}
.course-list-mdl-list02 .section-sub .item-header .status span{font-size:100%;}
.course-list-mdl-list02 .section-sub .item-main .part-frame{padding:0px 10px;}
.course-list-mdl-list02 .section-sub .item-main .part-main .frame{padding:20px 10px;}
.course-list-mdl-list02 .section-sub .item-main .part-main .label{font-size:100%;}
}
@media screen and (max-width:639px){}
@media screen and (max-width:479px){}



/* ========== */

.course-list-mdl-list03{}
.course-list-mdl-list03 .section-base{width:1440px;margin:0px auto 90px auto;}
.course-list-mdl-list03 .section-frame{padding:0px 40px;}
.course-list-mdl-list03 .section-header{display:flex;align-items:center;margin-bottom:30px;padding-bottom:10px;border-bottom:4px solid #4652A1;}
.course-list-mdl-list03 .section-header .label{padding-right:20px;color:#4652A1;font-size:200%;font-weight:500;line-height:150%;}
.course-list-mdl-list03 .section-header .label-sub{line-height:150%;}
.course-list-mdl-list03 .section-main{}
.course-list-mdl-list03 .section-main .part{}
.course-list-mdl-list03 .section-main .part:not(:last-child){margin-bottom:30px;}
.course-list-mdl-list03 .section-main .part-frame{}
.course-list-mdl-list03 .section-main .part-header{margin-bottom:15px;}
.course-list-mdl-list03 .section-main .part-header .label{padding-bottom:10px;border-bottom:2px solid #ccc;font-size:125%;font-weight:500;}
.course-list-mdl-list03 .section-main .part-main{display:flex;flex-wrap:wrap;}
.course-list-mdl-list03 .section-main .part-main .item{width:50%;}
.course-list-mdl-list03 .section-main .part-main .item-base{margin:0px 20px;padding:20px;border-bottom:1px solid #ccc;}
.course-list-mdl-list03 .section-main .part-main .item-frame{display:flex;justify-content:space-between;align-items:center;}
.course-list-mdl-list03 .section-main .part-main .item-main{}
.course-list-mdl-list03 .section-main .part-main .item-main .label{margin-bottom:10px;font-size:125%;font-weight:500;}
.course-list-mdl-list03 .section-main .part-main .item-main .fee{}
.course-list-mdl-list03 .section-main .part-main .item-main .fee .discount{display:inline-block;vertical-align:baseline;margin-right:10px;padding:3px 5px;background:#B30000;color:#fff;font-size:87.5%;font-weight:500;line-height:100%;}
.course-list-mdl-list03 .section-main .part-main .item-main .fee .amount{display:inline-block;vertical-align:baseline;font-weight:500;line-height:100%;}
.course-list-mdl-list03 .section-main .part-main .item-main .fee .amount-discount{color:#B30000;}
.course-list-mdl-list03 .section-main .part-main .item-main .fee .amount span{font-size:150%;}
.course-list-mdl-list03 .section-main .part-main .item-footer{}
.course-list-mdl-list03 .section-main .part-main .item-footer .link{display:block;width:180px;padding-left:10px;}
.course-list-mdl-list03 .section-main .part-main .item-footer .link .btn{text-align:center;}
.course-list-mdl-list03 .section-main .part-main .item-footer .link .btn a{display:block;padding:15px 20px;background:#F90;color:#fff;border:2px solid #F90;border-radius:10px;font-weight:500;line-height:100%;text-decoration:none;box-shadow:1px 1px 6px 1px rgba(0, 0, 0, 0.2);}
.course-list-mdl-list03 .section-main .part-main .item-footer .link .btn a:hover{background:#FFA700;}



@media screen and (max-width:1439px){
.course-list-mdl-list03 .section-base{width:auto;}
}
@media screen and (max-width:1199px){
.course-list-mdl-list03 .section-header .label{font-size:150%;}
.course-list-mdl-list03 .section-main .item-main .btn{font-size:100%;}
.course-list-mdl-list03 .section-main .part-main .item-main .label{font-size:100%;}
}
@media screen and (max-width:959px){
.course-list-mdl-list03 .section-header{display:block;margin-bottom:30px;}
.course-list-mdl-list03 .section-header .label{padding-right:0px;}
.course-list-mdl-list03 .section-header .label-sub{margin-top:5px;}
.course-list-mdl-list03 .section-main .part-main .item{width:100%;}
.course-list-mdl-list03 .section-main .part-main .item-base{margin:0px;padding:15px 0px;border-bottom:1px solid #ccc;}
.course-list-mdl-list03 .section-main .part-main .item-footer .link{width:140px;}
}
@media screen and (max-width:767px){
.course-list-mdl-list03 .section-frame{padding:0px 20px;}
}
@media screen and (max-width:639px){}
@media screen and (max-width:479px){}



/* ========== */


#floating-banner{position:fixed;z-index:100;left:10px;bottom:10px;width:320px;transition:opacity 0.5s ease-out, visibility 0s 0.5s;}
#floating-banner a{}
#floating-banner img{width:100%;height:auto;}
#floating-banner-close{position:absolute;right:0;top:0;width:30px;height:30px;cursor:pointer;}
.banner-hidden{opacity:0;visibility:hidden;transition:opacity 0.5s ease-out;}

@media screen and (max-width:1440px){}
@media screen and (max-width:1200px){}
@media screen and (max-width:768px){
#floating-banner{width:240px;}
.page-template #floating-banner{bottom: 60px;}
}
